<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  PortfolioEffect - Quant Client
  %%
  Copyright (C) 2011 - 2015 Snowfall Systems, Inc.
  %%
  This software may be modified and distributed under the terms
  of the BSD license.  See the LICENSE file for details.
  #L%
  -->



<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	<root>
		<priority value="info"></priority>
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>
